{% extends 'base.html.twig' %}

{% block title %}Tous nos plats!
{% endblock %}

{% block body %}
	<h1 class="text-center m-5">Tous les plats</h1>
	<div style="display: flex;justify-content: space-around;flex-wrap: wrap;">


		{% for meal in meals %}
			<div class="card pb-5 mb-5" style="width: 24rem; border: none;">


				<figure>
					<img src="{{ asset('uploads/' ~ meal.picture) }}" class="card-img-top" alt="">
					<figcaption>
						<h5>{{ meal.price }}€</h5>
					</figcaption>
				</figure>


				<center>
					<h5>{{ meal.name }}</h5>
				</center>
	
				<div style="display: flex;flex-direction: column;align-items: center;">
				<a href="{{ path('meal_views', {'id':meal.id}) }}">
					<button type="button" class="btn mb-4">Voir le détail du plat</button>
				</a>
				<a href="{{ path('panier_add', {'id' : meal.id }) }}">
					<button type="button" class="btn mb-4">Acheter</button>
				</a>
			</div>

			</div>
	{% endfor %}
</div>{% endblock %}
