{% extends 'base.html.twig' %}

{% block title %}Accueil !
{% endblock %}

{% block body %}

	<figure>
		<img src="{{ asset('image/' ~ 'cuisine.jpg') }}" alt="mon image de fond">
		<figcaption>
			{{ include('search/search.html.twig', {'searchForm': searchForm} ) }}
		</figcaption>
	</figure>


	<div class="image-texte">
		<div class="texte">
			<p>Vous souhaitez manger un bon burger avec des produits locaux ? Venez découvrir nos meilleurs restaurants</p>
			<div class="flexButton">
				<a href="{{ path('meal',{'category': 'burger'})}}">
					<button type="button" class="btn">Nos burgers</button>
				</a>
			</div>


		</div>
		<div class="image"><img src="{{ asset('image/' ~ 'burger.jpg') }}"></div>
	</div>
	<div class="texte-image">
		<div class="image"><img src="{{ asset('image/' ~ 'hm.webp') }}"></div>
		<div class="texte">
			<p>Un plat asiatique vous tente ? nems, sushi etc. N'hésitez plus et venez découvrir nos meilleurs restaurants</p>
			<div class="flexButton">
				<a href="{{ path('meal',{'category': 'chinois'})}}">
					<button type="button" class="btn">Nos plats asiatiques</button>
				</a>
			</div>
		</div>
	</div>
	<div class="image-texte">
		<div class="texte">
			<p>Envie d'une pizza ? N'hésitez plus! Découvrez nos meilleurs restaurants</p>
			<div class="flexButton">
				<a href="{{ path('meal',{'category': 'pizza'})}}">
					<button type="button" class="btn">Nos pizzas</button>
				</a>
			</div>
		</div>
		<div class="image"><img src="{{ asset('image/' ~ 'kl.webp') }}"></div>
	</div>
{% endblock %}
