{% extends 'base.html.twig' %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<center>
			<div class="container">
				<h1 class="display-4">{{restaurant.name}}</h1>
				<p class="lead">Découvrez nos plats</p>
			</br>
			<h5>{{restaurant.address}}</h5>

		</div>
	</center>
</div>


<div style="display: flex;justify-content: space-around;flex-wrap: wrap;">
	{% for meal in restaurant.meals %}

		<div class="card mb-5" style="width: 24rem; border: none;">

			<figure>
				<img src="{{ meal.picture }}" class="card-img-top" alt="">
				<figcaption>
					<h5>{{ meal.price }}€</h5>
				</figcaption>
			</figure>

			<div class="card-body">

				<center>
					<h5>{{ meal.name }}</h5>
				</center>
				<div class="flexButton">
					<a href="{{ path('meal_views', {'id':meal.id}) }}">
						<button type="button" class="btn">Voir le détail du plat</button>
					</a>
				</div>

			</div>
		</div>
		<br/>
	{% endfor %}
</div>{% endblock %}
