{% extends 'base.html.twig' %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<center><div class="container">
			<h1 class="display-4">{{restaurant.name}}</h1>
			<p class="lead">Découvrez nos plats</p>
		</br>
		<h5>{{restaurant.user.address}}</h5>
		</div>
	</center>
</div>


<div style="display: flex;justify-content: space-around;flex-wrap: wrap;">
	{% for meal in restaurant.meals %}

		<div class="card mb-5" style="width: 24rem; border: none;">


		<figure>
			<img src="{{ asset('uploads/' ~ meal.picture) }}"  class="card-img-top" alt="">
			<figcaption>
				<h5>{{ meal.price }}€</h5>
			</figcaption>
		</figure>


				<center>
					<h5>{{ meal.name }}</h5>
				</center>
				<div style="display: flex;flex-direction: column;align-items: center;">
					<a href="{{ path('meal_views', {'id':meal.id}) }}">
						<button type="button" class="btn mb-4">Voir le détail du plat</button>
					</a>
					<a href="{{ path('panier_add', {'id' : meal.id }) }}">	<button type="button" class="btn mb-4">Acheter</button></a>
				</div>

			</div>
		<br/>
	{% endfor %}
</div>
{% endblock %}
