<nav id="top" class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul id="flex" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('dev_eat') }}">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Restaurants</a>
        </li>
          <a  href="{{ path('dev_eat') }}">
            <img src="{{ asset('image/' ~ 'logo.png') }}" alt="logo"></img>
          </a>
        {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('user_new') }}">Inscription</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
        {% else %}
        {% if is_granted('ROLE_ADMIN')  %}
        <a href="{{ path('admin') }}">Tableau de bord</a>
        {% endif %}
        {% if is_granted('ROLE_RESTAURANT')  %}
            {% if app.user.restaurant.id is defined %}
              <a href="{{ path('restaurant', {'id': app.user.id}) }}">Profil</a>
              {% else %}
              <a href="{{ path('restaurant_new', {'id': app.user.id}) }}">Ajouter votre restaurant</a>
             {% endif %}
        {% else %}
         <a href="{{ path('user_show', {'id': app.user.id}) }}">Profil</a>
        {% endif %}
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>       
         {% endif %}
    </div>
  </div>
</nav>


