{% extends 'base.html.twig' %}

{% block title %}Meal{% endblock %}

{% block body %}
    <h1>Meal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ meal.Name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ meal.Picture }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ meal.Price }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ meal.Note }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')  %}

    <a href="{{ path('meal_index') }}">back to list</a>

    {% endif %}

    <a href="{{ path('meal_edit', {'id': meal.id}) }}">edit</a>

    {{ include('meal/_delete_form.html.twig') }}
{% endblock %}
